.chart{
    text-align: center;
    width: 50%;
}
@media(max-width:1000px) {
    .chart{
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}
