.time{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-bottom: 20px;
}

@media(min-width:150px) and (max-width : 700px) {
    .time{
      display: block;
      margin-bottom: 10px;
    }
}